@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

:root {
    --link-hover :#88b7d1;
    --main-text-color: rgb(36, 38, 41);
    --background-color-wrap: rgba(37, 54, 74, 0.85);
    --text-color: #231f20;
    --background-color-nav: #515c6d;
    --text-color-second: white;
}