.header-logo {
    width: 135px;
    height: 135px;
}

.header-nav {
    background-color: var(--background-color-nav);
}

.fa-instagram {
    color: #fc4213;
}

.fa-square-facebook {
    color: #344fc9;
}

.fa-viber {
    color: #640ed3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-div .nav-div-item {
    display: inline-block;
    color: var(--text-color-second);
    padding: 10px, 20px;
    text-decoration: none;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: var(--text-color-second);
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

@media (max-width: 767px) {
    .nav-div {
        display: none;
    }

    .nav-div.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}