.container {
    margin: 0 auto;
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prev-btn,
#next-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
}

#prev-btn:focus,
#next-btn:focus {
    outline: none;
}

.products-container {
    background-color: rgb(65, 76, 126);
    padding: 15px;
}

.product {
    background-color: rgb(134, 134, 134);
    text-align: left;
    width: 143px;
    height: 321px;
    padding: 10px;
    padding-left: 15px;
}

.product-img {
    height: 113px;
    width: 113px;
}

.shopping-cart-product-button {
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 3px;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, 0.658);
    width: 50px;
}

.shopping-cart-product-button img {
    height: 30px;
}

.product-price {
    margin-top: 60px;
    margin-bottom: 5px;
}

.stock {
    font-size: 15px;
    margin-top: -18px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.check {
    color: rgb(146, 206, 146);
}

.xmark {
    color: rgb(163, 69, 69);
    display: none;
}